
*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}


.container{
   min-width:max-content;
}




.header{
    height: 90vh;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.nav{
    height:10vh;
    text-align:center;
    line-height:10vh;
    vertical-align: middle;
    display:flex;
    justify-content: space-evenly;
    background-color:hsl(224deg 74% 54%); 
    
}

.lateral-section-nav{
    width:20%;
    height:100%;
    vertical-align: middle;
    float:left;
}

.lateral-section-nav img{
    vertical-align: middle;
}

.nav-list{
    width:calc(100% - 40%);
    height: 100%;
    float:left;
    text-align:center;
}

.ul-nav li{
    list-style-type:none;
    display: inline-block;
    margin-right:30px;
}

a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
    color:blue;
}

.btn{
    background-color:white;
    padding:10px 15px;
    border-radius: 20px;
    color:black;
}
.btn:hover{
    text-decoration:none;
    align-items: center;
}




.content{
    width:50%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
    color:white;
    text-align: center;
    max-height: 70vh;

}

 h1{
    margin-bottom:40px;
    font-size:40px;
}
.content p{
    margin-bottom:30px;
}


.dark{
    background-color:black;
    color:white;
    
    
}

.btn-container{
    display:flex;
    justify-content:space-evenly;
}



.first{
    
    height: 100vh;
    padding-top:10vh;
    display: flex;
    justify-content: space-evenly;
    position:relative;
    
    
}

.left-part{
    float:left; 
}


.right-part{
    width:30%;
    padding:60px;
    float:left;
}

.right-part p{
    font-weight: 600;
}

.onda-sotto:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url(../img/wave.svg)  no-repeat;
    background-size: cover;
    opacity: .05;
}

.onda-sopra:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url(../img/wave.svg)  no-repeat;
    background-size: cover;
    opacity: .05;
    transform: rotate(180deg)
}

.op{
    background-color:hsl(0deg 0% 95%);
}

.last-part{
   
    height: 150vh;
    text-align: center;
    padding:5vh 10vw 0 10vw;
    font-weight: 600;
    position:relative;
}

.stella{
    height:30vh;
}

.stella h2{
    margin:auto;
    width:50%;
    margin-bottom:5vh;
}

.stella .btn-container{
    width:80%;
    margin:auto;
}

.stella .btn-container a.btn, .button-foot .btn{
    background-color:hsl(224deg 74% 54% ); 
    
    color:white;
}
.stella .btn-container a.btn:hover, .button-foot .btn:hover{
    opacity: 0.5;
}

.foot{
    
    height: 40vh;
    padding:10vh 10vw 0 10vw;
    background-color:hsl(206deg 9% 15%);
    display:flex;
    justify-content: space-between;
}

.row{
    width:20%;
    float:left;
}

.foot ul{
    padding-inline-start: 0px;
    list-style-type: none;
}
.row li a{
    font-size:15px;
    font-weight: 600;
}

.row li:first-child a {
    color: hsl(224deg 74% 54% ); 
  }
  .row li:first-child a:hover {
    color: white;
  }

  .row h2{
      color:hsl(224deg 74% 54% ); 
  }

  .italia{
      width:80%;
      height:10%;
      margin-top:20px;
      display:flex;
      color:white;
      font-size: 15px;
  }
  .italia p{
      margin-left:10%;

  }    
  }
  .italia img{
     height:100%;
  }

  .social{
      margin-top:20px;
      width:80%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      font-size:25px;
      color:white;
  }

  .final-footer{
    
    height: 25vh;
    padding:5vh 10vw;
    background-color:hsl(206deg 9% 15%);
  }

  .button-foot{
      
      height: 100%;
      position:relative;
      border-top:1px solid white;
  }

  .button-foot .btn{
      position:absolute;
      bottom:0;
      right:0;
  }

  .button-foot img{
      position:absolute;
      bottom:0;
  }

  .w100{
      width:100%;
  }



    












