
*{
    margin:0;
    box-sizing: border-box;
    
}

.container{
   min-width:max-content;
}
/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
  } */



.header{
    width: 100%;
    height: 90vh;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.nav{
    width:100%;
    height:10vh;
    text-align:center;
    line-height:10vh;
    vertical-align: middle;
    display:flex;
    justify-content: ;
    background-color:hsl(224deg 74% 54%); 
    
}

.lateral-section-nav{
    width:20%;
    height:100%;
    vertical-align: middle;
    float:left;
}

.lateral-section-nav img{
    vertical-align: middle;
}

.nav-list{
    width:calc(100% - 40%);
    height: 100%;
    float:left;
    text-align:center;
}

.ul-nav li{
    list-style-type:none;
    display: inline-block;
    margin-right:30px;
}

a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
    color:blue;
}

.btn{
    background-color:white;
    padding:10px 15px;
    border-radius: 20px;
    color:black;
}
.btn:hover{
    text-decoration:none;
    align-items: center;
}




.content{
    width:50%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
    color:white;
    text-align: center;
    max-height: 70vh;

}

 h1{
    margin-bottom:40px;
    font-size:40px;
}
.content p{
    margin-bottom:30px;
}


.dark{
    background-color:black;
    color:white;
    
    
}

.btn-container{
    display:flex;
    width:100%;
    
    justify-content:space-evenly;
}



.first{
    width:100%;
    height: 100vh;
    padding-top:10vh;
    display: flex;
    justify-content: space-evenly;
    position:relative;
    
    
}

.left-part{
    float:left; 
}


.right-part{
    width:30%;
    padding:60px;
    float:left;
}

.right-part p{
    font-weight: 600;
}

.onda-sotto:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url(../img/wave.svg)  no-repeat;
    background-size: cover;
    opacity: .05;
}

.onda-sopra:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url(../img/wave.svg)  no-repeat;
    background-size: cover;
    opacity: .05;
    transform: rotate(180deg)
}

.op{
    background-color:hsl(0deg 0% 95%);
}

.last-part{
    width:100%;
    height: 100vh;
}


    












